<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FamHive - Notifications</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #333;
      padding: 20px;
      background: #fff;
    }
    .container {
      border: 1px solid #DBE0DF;
      border-radius: 40px;
      max-width: 600px;
      margin: 0 auto;
      padding: 40px;
      background: #fff;
      box-shadow: 0 0 20px rgba(218, 218, 218, 0.25);
    }
    .logo {
      display: block;
      width: 52px;
      min-width: 52px;
      height: 52px;
    }
    .header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .header .line {
      height: 52px;
      width: 3px;
      margin: 0 20px;
      background: #DBE0DF;
    }
    .header .title {
      font-size: 16px;
      line-height: 28px;
      font-weight: 900;
      color: #666666;
      align-items: center;
    }
    .btn {
      display: inline-block;
      background-color: #7CBDAE;
      color: #fff !important;
      padding: 5px 20px;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
    .btn:hover {
      background-color: #548075;
      color: #E6E6E6 !important;
    }
    .overdue-tasks .item {
      margin-top: 8px;
      height: 40px;
      padding: 8px 12px;
      background-color: #F0F2F1;
    }
    .overdue-tasks .item .text {
      font-weight: bold;
      font-size: 14px;
    }
    .overdue-tasks .item .des {
      margin-top: 2px;
      font-size: 12px;
    }
    .overdue-tasks .item .date {
      color: #EB5757;
    }
    .remaining {
      margin-top: 10px;
      font-weight: bold;
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <img class="logo" src="https://is3-ssl.mzstatic.com/image/thumb/Purple126/v4/4d/55/c6/4d55c6f9-3532-5064-1dfa-44f907afaef2/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/600x600bb.jpg" alt="FamHive Logo">
    <div class="line"></div>
    <div class="title">FamHive - {{title}}</div>
  </div>
  <p>{{dear}} {{fullName}},</p>
  <p>{{content}}</p>
  <p>{{bestRegards}},<br>{{famhiveTeam}}</p>
</div>
</body>
</html>
