<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to FamHive</title>
  <style>
    /* Add your custom styles here */
    /* This is just an example */
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #333;
      padding: 20px;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
    .logo {
      display: block;
      margin: 0 auto 20px;
      width: 150px;
      height: auto;
    }

    .code {
      color: #333;
      background: #eee;
      width: 100%;
      display: block;
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 5px;
    }
  </style>
</head>
<body>
<div class="container">
  <img class="logo" src="{{LOGO_URL}}" alt="HamHive Logo">
  <h1>Password Reset Request</h1>
  <p>Dear {{fullName}},</p>

  <p>We received a request to reset your password. If you did not make this request, please ignore this email.</p>

  <p>To reset your password, please use the code bellow to enter the app:</p>

  <span class="code">
    {{code}}
  </span>

  <p>If you have any questions or concerns, please do not hesitate to contact us at <a href="sendto:{{EMAIL_SUPPORT}}">{{EMAIL_SUPPORT}}</a></p>
  <p>Thank you for using famhive!</p>
  <p>Best regards,<br>The famhive Team</p>
</div>
</body>
</html>
